In [11]:
import pandas as pd

df_race = pd.read_csv("../data/raw/race_results_2025.csv")
df_fastest = pd.read_csv('../data/raw/fastest_laps_2025.csv')

In [12]:
# (snack_case)
df_race.columns = df_race.columns.str.strip().str.lower().str.replace(' ','_')
df_fastest.columns = df_fastest.columns.str.strip().str.lower().str.replace(" ", '_')

# To numeric
df_race['starting_grid'] = pd.to_numeric(df_race['starting_grid'], errors='coerce')
# [positions] be float type for pilots who abandoned exist
df_race['position'] = pd.to_numeric(df_race['position'], errors='coerce') 

df_race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   track             120 non-null    object
 1   position          102 non-null    float64
 2   no                120 non-null    int64
 3   driver            120 non-null    object
 4   team              120 non-null    object
 5   starting_grid     120 non-null    int64
 6   laps              120 non-null    int64
 7   time/retired      120 non-null    object
 8   points            120 non-null    int64
 9   set_fastest_lap   120 non-null    object
 10  fastest_lap_time  114 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 10.4+ KB

In [13]:
# Driver/track name cleanup
df_race['driver'] = df_race['driver'].str.strip().str.title()
df_race['track'] = df_race['track'].str.strip().str.title()

df_fastest['driver'] = df_fastest['driver'].str.strip().str.title()
df_fastest['grand_prix'] = df_fastest['grand_prix'].str.strip().str.title()

df_race.tail()

,track,position,no,driver,team,starting_grid,laps,time/retired,points,set_fastest_lap,fastest_lap_time
115,Miami,16.0,18,Lance Stroll,Aston Martin Aramco Mercedes,18,56,+1 lap,0,No,1:31.769
116,Miami,NaN,30,Liam Lawson,Racing Bulls Honda RBPT,15,36,DNF,0,No,1:31.770
117,Miami,NaN,5,Gabriel Bortoleto,Kick Sauber Ferrari,13,30,DNF,0,No,1:32.328
118,Miami,NaN,87,Oliver Bearman,Haas Ferrari,19,27,DNF,0,No,1:32.680
119,Miami,NaN,7,Jack Doohan,Alpine Renault,14,0,DNF,0,No,NaN

In [14]:
# Auxiliary columns - racing efficiency (gaining positions)
df_race['position_gain'] = df_race['starting_grid'] - df_race['position']

In [15]:
# Save the transformed data
df_race.to_csv('../data/processed/race_results_2025_clean.csv', index=False)
df_fastest.to_csv('../data/processed/fastest_laps_2025_clean.csv', index=False)